
services:
  iris:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    hostname: iris-fhir
    container_name: iris-fhir
    ports:
      - 32782:1972
      - 32783:52773
      - 32784:53773
    volumes:
      - ./data:/data
      - ./fhirUI:/usr/irissys/csp/fhirUI
      - ./:/home/irisowner/irisdev
      # Add persistent volumes for IRIS database directories
      - iris_data:/usr/irissys/mgr/FHIRSERVER_DATA
      - iris_code:/usr/irissys/mgr/FHIRSERVER_CODE
      - iris_mgr:/usr/irissys/mgr

volumes:
  iris_data:
  iris_code:
  iris_mgr: